@model CSSmall.Models.Booking

@{
    ViewData["Title"] = "Bokningsbekräftelse";
}

<h1>Tack för din bokning!</h1>

<p>Din bokning är bekräftad för rum @Model.RoomID.</p>
<p>Incheckning: @Model.StartDate.ToShortDateString()</p>
<p>Utcheckning: @Model.EndDate.ToShortDateString()</p>
<p>Totalpris: @Model.TotalSum SEK</p>

<a asp-action="Index" asp-controller="Rooms">Tillbaka till startsidan</a>
