@{
    Layout = "_Layout";
    ViewData["Title"] = "Bokningsbekräftelse";
    var headerImage = "/images/hotel.png";
}
<!-- Hero-header -->
<div class="room-hero" style="background-image: url('@headerImage');">
    <div class="room-hero-content">
        <h1>Bokningsbekräftelse</h1>
    </div>
</div>

<section class="room-selection">
    <h2>Standardrum</h2>

    <!-- Standardrum -->
    <div class="room-card">
     
    </div>
</section>
