@{
    Layout = "_Layout";
    ViewData["Title"] = "Standard";
    var headerImage = "/images/Deluxe/deluxe1.png";
}
<!-- Hero-header -->
<div class="room-hero" style="background-image: url('@headerImage');">
    <div class="room-hero-content">
        <h1>Deluxe</h1>
    </div>
</div>

<section class="room-selection">
    <h2>Deluxe rum</h2>

<!-- Deluxerum -->
<div class="room-card">
    <div class="room-images">
        <img src="~/images/Deluxe/deluxe1.png" alt="Deluxe">
            <img src="~/images//Deluxe/deluxe2.png" alt="Deluxe">
            <img src="~/images//Deluxe/deluxe3.png" alt="Deluxe">
    </div>

    <div class="room-info">
        <h3>Deluxe</h3>
        <p><strong>King Size-säng</strong> | 28-32 kvm</p>
        <p>Vårt Deluxerum på 30 kvadratmeter erbjuder extra utrymme och lyxiga detaljer för en ännu mer komfortabel vistelse. </p>
        <p>
            Rummet är smakfullt inrett med stilrena möbler, en lyxig dubbelsäng och stora fönster som släpper in vackert ljus.
            Här finns även en mysig sittgrupp, espressomaskin och en rymlig badrumsupplevelse med både dusch och badkar.
            Perfekt för dig som vill unna dig det lilla extra under din vistelse.
        </p>

        <div class="price-options">
            <label><input type="radio" name="deluxe-price" checked> Ej återbetalningsbar - 2250 SEK</label>
            <label><input type="radio" name="deluxe-price"> Fri avbokning - 2500 SEK</label>
        </div>

        <div class="total-price">
            <strong>Total: 2250 SEK</strong>
        </div>
        <button class="book-button">Boka</button>
            <a href="@Url.Action("Index", "Rooms")" class="info-button">Tillbaka</a>


    </div>

</div>
</section>